.explosion_wrapper {
  background-image: url('../img/explosion.png');
}

.explosion_wrapper {
  z-index: 50;
  position: absolute;
}

.explosion_wrapper {
  bottom: 50px;
  height: 480px;
}

.explosion_player {
  left: 0px;
  width: 400px;
}

.explosion_enemy {
  right: 0px;
  width: 435px;
}
