@font-face {
  font-family: Gloria;
  src: url('fonts/gloriahallelujah.ttf')
}

html {
  font-size: 10px;
}

body,
header,
ul,
section,
h3 {
  margin: 0;
  padding: 0;
}

.mx-auto {
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}

.text-gray,
p {
  color: #777777;
}

.d-flex {
  display: flex;
}

.d-block,
.menu li {
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

body {
  color: #222222;
  font-family: Gloria;
}

header {
  background: url('../img/back.jpg') no-repeat top/cover;
  height: 100vh;
}

.heading {
  justify-content: flex-end;
}

.container {
  width: 1200px;
  padding-bottom: 60px;
}

nav {
  margin-top: 45px;
}

.menu a {
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 30px;
}

h1 {
  margin-top: 180px;
  font-size: 4rem;
}

h1 span {
  font-size: 7rem;
  margin: 15px;
}

.button {
  background: #fed136;
  color: #484543;
  border-radius: 3px;
  text-decoration: none;
  width: 240px;
  padding: 20px 0;
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 50px;
}

h2 {
  padding-top: 40px;
  font-size: 4rem;
  font-weight: bold;
}

.descriptions {
  justify-content: space-between;
  margin-top: 40px;
}

.description-item {
  margin: 0 20px;
}

.description-item:first-child {
  padding-right: 240px;
}

.how-to-play-item {
  width: 900px;
}

.how-to-play-item h3,
.description-item h3 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.how-to-play-item p,
.description-item p {
  font-size: 2.4rem;
  line-height: 3rem;
}

.screenshots {
  background: #f5eeb5;
}

.game-screen {
  width: 930px;
  flex-wrap: wrap;
  padding-top: 40px;
}

.about-us {
  justify-content: space-around;
  align-items: center;
}

.us {
  width: 350px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.radius {
  border-radius: 50%;
}

.us h3 {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.us p {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

footer {
  font-size: 1.4rem;
  padding-bottom: 16px;
}

.screen {
  width: 300px;
  height: 170px;
  margin-left: 10px;
  margin-top: 10px;
}

.screen img {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.screen img:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
}
