<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../css/font-awesome/css/font-awesome.min.css">
    <title>Modal-dialog</title>
  </head>
  <body>
    <header>
      <h1>Component 'Modal-dialog'</h1>
    </header>
    <main id="game">
      <p>You can reuse modal dialog for other games or as a menu just having added event listeners for them.</p>
    </main>
    <script src="js/modal-dialog.bundle.js"></script>
  </body>
</html>
